In [1]:
import pandas as pd
import requests

In [2]:
page = requests.get("https://demo0192734.mockable.io/clientes/")
page.status_code

200

In [3]:
df = pd.read_json(page.content)
df.head()

   id       nome            cidade estado                           segmento
0   0  Empresa 0      Cachoeirinha     PE                 Confecção / Textil
1   1  Empresa 1          Rio Doce     MG  Cosméticos / Perfumaria / Higiene
2   2  Empresa 2            Juquiá     SP  Cosméticos / Perfumaria / Higiene
3   3  Empresa 3  Vitória do Xingu     PA                 Confecção / Textil
4   4  Empresa 4             Dueré     TO     Eletrônicos / Eletrodomésticos

In [4]:
segmentos = df.segmento.str.split(" / ").to_list()
conjunto = set()
for segmento in segmentos:
    for s in segmento:
        conjunto.add(s)

len(conjunto)

31

In [5]:
df["segmento"] = df.segmento.str.split(" / ")
df = df.explode("segmento")
df.head()

   id       nome        cidade estado    segmento
0   0  Empresa 0  Cachoeirinha     PE   Confecção
0   0  Empresa 0  Cachoeirinha     PE      Textil
1   1  Empresa 1      Rio Doce     MG  Cosméticos
1   1  Empresa 1      Rio Doce     MG  Perfumaria
1   1  Empresa 1      Rio Doce     MG     Higiene

In [6]:
df["segmento"].unique()

array(['Confecção', 'Textil', 'Cosméticos', 'Perfumaria', 'Higiene',
       'Eletrônicos', 'Eletrodomésticos', 'Móveis', 'Pet-Shop', 'Áudio',
       'Música', 'Som', 'Medicamentos', 'Limpeza', 'Informática',
       'Alimentos', 'Bebida', 'Materiais de Construção', 'Outro',
       'Autopeças', 'Calçados', 'Decoração', 'Cama', 'Mesa', 'Banho',
       'Jóias e Bijuterias', 'Embalagens', 'Utilidades', 'Máquinas',
       'Equipamentos', 'Brinquedos'], dtype=object)

In [7]:
from sqlalchemy import create_engine

engine = create_engine("postgresql://postgres:postgres@191.252.184.52:5432/mrr")
df.to_sql("cliente", con=engine, schema="stage", method="multi", if_exists="replace")